* {
  font-family: Hack Nerd Font Mono;
  background: transparent;
}

#window {
  background: rgba(28, 33, 43, 0.85);
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #005577;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  color: #FFE4B2;
}

#input:focus {
  border-color: rgba(83, 88, 99, 0.5); /* Light magenta border */
  outline: none; /* Remove the default outline */
  color: #ffffff;
}


#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
  color: #FFE4B2;
}

#entry:selected {
  background-color: rgba(83, 88, 99, 0.9);
  color: #ffffff;
}

#text {
  margin: 2px;
}

#text:selected {
  color: #ffffff;
}



